@import url("../../index.css");

#about {
    background: var(--background-color);
    min-height: 100vh;
    padding: 50px 20px 20px;
}

#about .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about img {
    max-width: 70%;
    max-height: 60vh;
    object-fit: contain;
}

#about .socialmedia {
    display: flex;
    justify-content: space-around;
}


@media (min-width:721px) {
    #about .container>* {
        width: 40%;
    }
}

@media (max-width:720px) {
    #about {
        flex-direction: column;

    }
}